.add-memory {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;

	textarea {
		height: 20vh;
		width: 50vw;
		background-color: rgba(250, 250, 250, 0.7);
		border-radius: 2px;
		border: none;
		font-size: 1.5rem;
		padding: 1.5rem;
		resize: none;
	}
}