footer {
	display: flex;
	font-size: 1rem;
	justify-content: space-around;
	a {
		display: block;
		color: #fff;
	}
}
.content > footer {
	background-color: rgb(40,40,40);
	flex-direction: row;
	bottom: 0;
	margin-top: 2rem;
}

.week.footer footer {
	flex-direction: column;
	> a {
		font-size: 0.8rem;
	}
}