header {
	display: flex;
	flex-direction: row;
	background-color: rgb(40,40,40);
	color: #fff;
	padding: 0.5rem;
	min-height: 3rem;

	h1 {
		font-size: 1rem;
	}

	.menu-button {
		padding: 0.8rem;
		font-size: 1rem;
		cursor: pointer;
		float: left;
	}
}