.accounts-centered-dialog {
	background-color: #DDD;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	&:before {
		content: 'Yeah, I always forget my password too. No worries, just enter a new one here.';
		    font-size: 2rem;
    		padding: 2rem;
    		max-width: 40rem;
	}
	label {
		display: none;
	}
	
	.reset-password-new-password-wrapper {
		padding: 0 2rem;
		display: flex;
		justify-content: center;
		
		input {
			font-size: 1.25rem;
			margin-bottom: 1rem;
			padding: 0.25rem 0.5rem;
		}
	}
	div.login-button-form-submit {
		background-color: rgb(10, 160,80);
		color: #fff;
		padding: 0.5rem;
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	
	a.accounts-close {
		font-size: 1.5rem;
		background-color: rgb(240, 0, 120);
		color: #DDD;
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		display: block;
		width: 1.5rem;
		border-radius: 50%;
		text-align: center;
		line-height: 1.25rem;
		padding-bottom: 0.25rem;
	}
	
	.error-message {
		font-size: 1rem;
		margin-bottom: 1rem;
		color: rgb(255, 0, 30);
		text-align: center;
	}
}

div#password-reset {
	background-color: rgba(250, 250, 250, 0.8);
	padding: 10%;
	input {
		font-size: 1.25rem;
		display: block;
		margin-bottom: 0.5rem;
	}
}
