#slideout-menu {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 1rem;
		li {
			font-size: 1.5rem;
			padding: 0.24rem;
			border-bottom: 1px solid rgba(10, 10, 10, 0.3);
			color: rgb(10, 10, 10);
			a {
				font-size: 1.5rem;
				color: rgb(10, 10, 10);
			}
		}
	}
}
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}