@for $i from 1 through 53 {
    .week:nth-child(n+#{$i}) {
        background: rgba(random(256)-1, random(256)-1, random(256)-1, 0.5);
    }
}
.week {
	width: 15.9vw;
	height: 15.9vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: relative;
}

.week:nth-child(54) {
	visibility: hidden;
}

.week h1 {
	opacity: 0.4;
	color: #333;
}
.week.current h1 {
	opacity: 1;
	background-color: #888;
	color: #fff;
	border-radius: 50%;
	padding: 5vh;
}