@for $i from 1 through 53 {
    .week:nth-child(n+#{$i}) {
        background: rgba(random(256)-1, random(256)-1, random(256)-1, 0.5);
    }
}
.week {
	width: calc(100% / 5);
	height: calc(100vw / 5);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: relative;
	h1 {
		opacity: 0.4;
		color: #333;
		font-size: 1.25rem;
	}
	&.current {
		background-image: radial-gradient(rgba(240,40,40, 0.5) 55%, rgba(40,40,40,0) 57%);
		&:first-of-type {
			background-image: radial-gradient(rgba(0,0,0,0) 52%, rgba(240,40,40, 0.5) 55%, rgba(40,40,40,0) 57%);
		}
		> div.bubble {
			opacity: 1;
			color: #fff;
			border-radius: 50%;
			padding: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 4vw;
    		padding: 2rem;
		}
	}
	.memory-snip {
		.count {
			    font-size: 11vw;
				position: absolute;
				text-align: center;
				width: 13vw;
				font-weight: 700;
				color: rgba(230,230,230,0.7);
				span {
					font-size: 6vw;
				}
		}
		 i {
			font-size: 16vw;
			color: rgba(130, 240, 30, 0.5);
		 }
	}
	&.footer {
		 width: calc((100% / 5) *3);
	}
}