.welcome {
	min-width: 40vw;
	width: 50vh;
	max-width: 70vh;
    background-color: rgba(250, 250, 250, 0.7);
    align-self: center;
    padding: 3rem;
	.terms {
		display: block;
		font-size: 0.5rem;
		margin-top: 1.5rem;
		a {
			color: rgb(10, 10, 10);
			font-size: 0.5rem;
		}
	}
}